fastapi
uvicorn[standard]
hdbscan
umap-learn
pydantic
scikit-learn
sentence-transformers
numpy
pandas
python-dotenv
openai
fastapi-limiter
nltk
matplotlib
dateparser
parsedatetime
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pytz
PyJWT
supabase
